<div class="col-2 mx-auto">
    <input type="text" class="form-control text-center search" placeholder="Nom du client" [(ngModel)]="searchTerm">  
</div>

<div class="row justify-content-around mt-5 mx-5">

    <mat-card class="clientcard col-3 mb-5 mx-5" *ngFor="let client of clientsSorted | clientFilter:searchTerm" [routerLink]="['/client/detail', client.id]">

        <div class="row justify-content-around">
            <div class="col-7">       
                <p class="text-uppercase lastname">{{ client.lastname }}</p>
                <p class="text-capitalize firstname">{{ client.firstname }}</p>
                <p>{{ client.phone }}</p>   
            </div>

            <div class="image-ronde-bg col-5 my-auto"
                style="background-image: url({{client.logo}})">  
            </div>
        </div>
        
    </mat-card>  

</div>