@use '../../../../../themes.scss' as *;

.user {
    width: 75%;
    background-color: nb-theme(background-mat-card);
}

h2, h4, button {
    font-family: nb-theme(font-family-primary);
}

.updatebutton { 
    background-color: #1f75b6;
}

.infos { 
    color: #1f75b6;
}

.lastname {
    color: #8ebe44;
}

.firstname {
    color: #06a79c;
}

.image-ronde-bg{
    background-size : cover;
    background-position : 50% 50%; 
    width : 250px; 
    height : 250px;
    -moz-border-radius : 125px;
    -webkit-border-radius : 125px;
    border-radius : 125px;
}

.title { 
    width: 20%;
    background-color: nb-theme(background-mat-card);
    margin-bottom: -80px;
    transform: translateY(-60%);
    border-radius : 5px;
}

.detailbuttons {
    width: 40%;
}

.modal-header, .modal-body, .modal-footer {
    background-color: nb-theme(background-mat-card);
}