<mat-card class="todo mx-auto mt-5">

    <div class="title row mx-auto p-3">
        <h2 class="text-center">Détail tâche</h2>
    </div>

    <div class="row justify-content-around align-items-center">

        <div class="col-7">

            <div>
                <h2><span class="text-uppercase name">{{ planningDeveloperTodo.name }}</span></h2>
            </div>

            <div>  
                <p>Status : <span class="infos">{{ planningDeveloperTodo.status }}</span></p>     
                <p>Type : <span class="infos">{{ planningDeveloperTodo.type }}</span></p>
                <p *ngIf="planningDeveloperTodo.skill">Language : <span class="infos">{{ planningDeveloperTodo.skill.specializationname }}</span></p>
                <p>Description : <span class="infos">{{ planningDeveloperTodo.description }}</span></p>
                <p>Durée d'accomplissement : <span class="infos">{{ planningDeveloperTodo.time }}</span> minutes</p>
            </div>

        </div>                

    </div>

</mat-card>

<div *ngIf="planningDeveloperTodo.status == 'A Faire'" class="detailbuttons row justify-content-around mx-auto my-5">    
    <button class="col-3 startbutton text-white text-uppercase pt-1" (click)="startTodoById()" mat-button>Démarrer cette tâche</button>                  
</div>

<div *ngIf="planningDeveloperTodo.status == 'En cours'" class="detailbuttons row justify-content-around mx-auto my-5">           
    <button class="col-3 updatebutton text-white text-uppercase pt-1" (click)="finishTodoById()" mat-button>J'ai terminé cette tâche</button>            
</div>

<div *ngIf="planningDeveloperTodo.status == 'Terminé'" class="row justify-content-around mx-auto my-5"></div>

<!-- <ng-template #verif let-modal>
    <div class="modal-header">
        <h2 class="modal-title my-auto mx-auto">Suppression</h2>
    </div>
    <div class="modal-body">
        <h4 class="text-center my-auto">Voulez-vous vraiment supprimer la tâche "<span class="fw-bold"><span class="text-uppercase">{{ todo.name }}</span></span>" ?</h4>
    </div>
    <div class="row justify-content-around mx-0 modal-footer">
        <button type="button" class="col-3 bg-secondary text-white text-uppercase pt-1" mat-button (click)="modal.close()">Annuler</button>
        <button type="button" class="col-3 bg-danger text-white pt-1" mat-button (click)="showToast(); redirection(); modal.close();">SUPPRIMER</button>
    </div>
</ng-template> -->
