<mat-card class="todo mx-auto mt-5">

    <div class="title row mx-auto p-3">
        <h2 class="text-center">Détail tâche</h2>
    </div>

    <div class="row justify-content-around align-items-center">

        <div class="col-7">

            <div>
                <h2><span class="text-uppercase name">{{ todo.name }}</span></h2>
            </div>

            <div>     
                <p>Status : <span class="infos">{{ todo.status }}</span></p>    
                <p>Language : <span class="infos">{{ todo.skill.specializationname }}</span></p>
                <p>Description : <span class="infos">{{ todo.description }}</span></p>
                <p>Durée d'accomplissement : <span class="infos">{{ todo.time }}</span> minutes</p>
                <p>Type : <span class="infos">{{ todo.type }}</span></p>
            </div>

        </div>

        <img class="col-5 image" src="{{todo.logo}}">                    

    </div>

</mat-card>

<div class="detailbuttons row justify-content-around mx-auto my-5">    
    <button class="col-3 startbutton text-white text-uppercase pt-1" mat-button [routerLink]="['/todo/update/', todo.id]">Démarrer cette tâche</button>            
    <button class="col-3 updatebutton text-white text-uppercase pt-1" mat-button [routerLink]="['/todo/update/', todo.id]">J'ai terminé cette tâche</button>            
</div>

<!-- <ng-template #verif let-modal>
    <div class="modal-header">
        <h2 class="modal-title my-auto mx-auto">Suppression</h2>
    </div>
    <div class="modal-body">
        <h4 class="text-center my-auto">Voulez-vous vraiment supprimer la tâche "<span class="fw-bold"><span class="text-uppercase">{{ todo.name }}</span></span>" ?</h4>
    </div>
    <div class="row justify-content-around mx-0 modal-footer">
        <button type="button" class="col-3 bg-secondary text-white text-uppercase pt-1" mat-button (click)="modal.close()">Annuler</button>
        <button type="button" class="col-3 bg-danger text-white pt-1" mat-button (click)="showToast(); redirection(); modal.close();">SUPPRIMER</button>
    </div>
</ng-template> -->
