@use '../../../../../themes.scss' as *;

.planning {
    width: 75%;
    background-color: nb-theme(background-mat-card);
    z-index: 1;
}

h1, h2, h4, button {
    font-family: nb-theme(font-family-primary);
}

.updatebutton { 
    background-color: #1f75b6;
}

.name {
    color: #8ebe44;
}

.infos { 
    color: #1f75b6;
}

.image {
    width : 250px; 
}

.title { 
    width: 20%;
    background-color: nb-theme(background-mat-card);
    margin-bottom: -80px;
    transform: translateY(-60%);
    border-radius: 5px;
    position: relative;
    z-index: -1;
}

.detailbuttons {
    width: 70%;
}

.modal-header, .modal-body, .modal-footer {
    background-color: nb-theme(background-mat-card);
}