<mat-card class="template mx-auto mt-5">

    <div class="title row mx-auto p-3">
        <h2 class="text-center">Détail modèle</h2>
    </div>

    <div class="row justify-content-around align-items-center">

        <div class="col-7">

            <div>
                <h2 class="pt-2"><span class="text-uppercase name">{{ template.name }}</span></h2>
            </div>

            <div>
                <p>Description : <span class="infos">{{ template.description }}</span></p>
                <p>Durée : <span class="infos">{{ template.time }} jours</span></p>
                <p>Liste de tâches : </p>
                <div class="row justify-content-around">
                    <table mat-table [dataSource]="dataSource" matSort #todosSort="matSort" class="mat-elevation-z2">            
                        <div class="col-6">
                            <ng-container class="fs-1" matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par nom"> Nom </th>
                            <td mat-cell class="infos" *matCellDef="let todo"> {{todo.name}} </td>
                            </ng-container>
                        </div>
                        <div class="col-6">
                            <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par temps"> Temps (en minutes) </th>
                            <td mat-cell class="infos" *matCellDef="let todo"> {{todo.time}}</td>
                            </ng-container>
                        </div>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #todos [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
                </div>
            </div>

        </div>

        <img class="col-5 image" src="{{template.logo}}">                    

    </div>

</mat-card>

<div class="detailbuttons row justify-content-around mx-auto my-5">    
    <button class="col-3 updatebutton text-white text-uppercase pt-1" mat-button [routerLink]="['/template/update/', template.id]">Mettre à jour</button>
    <button class="col-3 bg-danger text-white pt-1" mat-button (click)="openVerif(verif)">SUPPRIMER</button>              
</div>

<ng-template #verif let-modal>
    <div class="modal-header">
        <h2 class="modal-title my-auto mx-auto">Suppression</h2>
    </div>
    <div class="modal-body">
        <h4 class="text-center my-auto">Voulez-vous vraiment supprimer le modèle "<span class="fw-bold"><span class="text-uppercase">{{ template.name }}</span></span>" ?</h4>
    </div>
    <div class="row justify-content-around mx-0 modal-footer">
        <button type="button" class="col-3 bg-secondary text-white text-uppercase pt-1" mat-button (click)="modal.close()">Annuler</button>
        <button type="button" class="col-3 bg-danger text-white pt-1" mat-button (click)="deleteTemplateById(template.id); showToast(); redirection(); modal.close();">SUPPRIMER</button>
    </div>
</ng-template>
