<mat-card class="project mx-auto mt-5">

    <div class="title row mx-auto p-3">
        <h2 class="text-center">Détail projet</h2>
    </div>

    <div class="row justify-content-around align-items-center">

        <div class="col-7">

            <div>
                <h2><span class="text-uppercase name">{{ project.name }}</span></h2>
            </div>

            <div>
                <p>Date de début : <span class="text-capitalize infos">{{ project.startdate | date:'fullDate': 'fr' }}</span></p>
                <p>Date de fin : <span class="text-capitalize infos">{{ project.enddate | date:'fullDate': 'fr' }}</span></p>
                <p>Type de projet: <span class="text-capitalize infos">{{ project.type }}</span></p>
                <p *ngIf="project.client">Client : <span class="text-uppercase lastname">{{ project.client.lastname }} </span> <span class="text-capitalize firstname">{{ project.client.firstname }} </span> pour <span class="text-capitalize infos">{{ project.client.company }}</span></p>
            </div>

        </div>

        <img class="col-5 image" src="{{project.logo}}">                    

    </div>

</mat-card>

<div class="detailbuttons row justify-content-around mx-auto my-5">    
    <button class="col-3 updatebutton text-white text-uppercase pt-1" mat-button [routerLink]="['/project/update/', project.id]">Mettre à jour</button>
    <button class="col-3 bg-danger text-white pt-1" mat-button (click)="openVerif(verif)">SUPPRIMER</button>              
</div>

<ng-template #verif let-modal>
    <div class="modal-header">
        <h2 class="modal-title my-auto mx-auto">Suppression</h2>
    </div>
    <div class="modal-body">
        <h4 class="text-center my-auto">Voulez-vous vraiment supprimer le projet "<span class="fw-bold text-uppercase">{{ project.name }}</span>" ?</h4>
    </div>
    <div class="row justify-content-around mx-0 modal-footer">
        <button type="button" class="col-3 bg-secondary text-white text-uppercase pt-1" mat-button (click)="modal.close()">ANNULER</button>
        <button type="button" class="col-3 bg-danger text-white pt-1" mat-button (click)="deleteProjectById(project.id); showToast(); redirection(); modal.close();">SUPPRIMER</button>
    </div>
</ng-template>
