<form [formGroup]="newProject" (ngSubmit)="post()" novalidate>

    <mat-card class="project mx-auto mt-5 py-4">
        
        <div class="title row mx-auto p-3">
            <h2 class="text-center">Nouveau projet</h2>
        </div>

        <div class="row justify-content-around align-items-center">

            <div class="col-7">

                <mat-form-field appearance="standard" class="form-group col-12">
                    <mat-label>Nom</mat-label>                   
                    <input matInput formControlName="name" type="text" class="form-control name">
                </mat-form-field>

                <mat-error class="text-end" *ngIf="submitted && formControls['name'].errors">
                    Nom nécessaire
                </mat-error>

                <mat-form-field appearance="standard" class="form-group col-12">
                    <mat-label>Choisir une date</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Date de début" formControlName="startdate" class="form-control">
                        <input matEndDate placeholder="Date de fin" formControlName="enddate" class="form-control" (click)="getDate()">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

                <mat-error class="text-end" *ngIf="submitted && formControls['startdate'].errors">
                    Date de début nécessaire
                </mat-error>
                <mat-error class="text-end" *ngIf="submitted && formControls['enddate'].errors">
                    Date de fin nécessaire
                </mat-error>
      
                <mat-form-field appearance="standard" class="form-group col-12">
                    <mat-label>Type</mat-label>
                    <input matInput formControlName="type" type="text" class="form-control">
                </mat-form-field>

                <mat-error class="text-end" *ngIf="submitted && formControls['type'].errors">
                    Type nécessaire
                </mat-error>

                <mat-form-field appearance="standard" class="form-group col-12">
                    <mat-label>Pour quel client ?</mat-label>
                    <mat-select formControlName="clientid">              
                        <mat-option *ngFor="let client of clientsSorted" [value]="client.id"><span class="text-uppercase">{{ client.lastname }}</span><span class="text-capitalize"> {{ client.firstname }}</span></mat-option>                
                    </mat-select>
                </mat-form-field>  

                <mat-error class="text-end" *ngIf="submitted && formControls['clientid'].errors">
                    Client nécessaire
                </mat-error>

                <mat-form-field appearance="standard" class="form-group col-12">
                    <mat-label>Logo</mat-label>
                    <input matInput formControlName="logo" type="text" class="form-control">
                </mat-form-field>

            </div>

            <img class="col-5 image" src='https://iconarchive.com/download/i18420/iconshock/free-folder/folder-images.ico'> 
        
        </div>

    </mat-card>
    
    <div class="row my-5">     
        <button type="submit" class="col-1 bg-success mx-auto text-white" mat-button>VALIDER</button>
    </div>

</form>