<div class="row justify-content-around">
    <div class="col-3 mx-5">
        <ul>
            <li><strong class="title">Plus d'infos sur AutoTask</strong></li>
            <li><a class="text-decoration-none" href="https://fondespierre.com/nos-poles-de-competences/beweb-ecole-numerique/developpeur-web/" target="_blank">Accueil</a></li>
            <li><a class="text-decoration-none" href="https://github.com/romarrr" target="_blank">Projets</a></li>
        </ul>
    </div>
    <div class="col-3 mx-5">
        <ul>
            <li><strong class="title">Suivez-nous</strong></li>
            <li class="social">
                <a class="text-decoration-none" href="https://twitter.com/elonmusk?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">Twitter</a>
            </li>
            <li class="copy">
                &copy; 2015-2022 <a class="text-decoration-none" href="https://www.societe.com/societe/amazon-france-logistique-sas-428785042.html" target="_blank">AutoTask SARL</a><br>
                Documentation sous license 4.0.
            </li>
        </ul>
    </div>
    <div class="col-3 mx-5">
        <ul>
            <li><strong class="title">Contact Us</strong></li>
            <li><a class="text-decoration-none" href="mailto:contact@autotask.com">contact@autotask.com</a></li>
        </ul>
    </div>
    <div class="text-center my-3">
        <a class="text-decoration-none" href="https://www.akveo.com?utm_campaign=service%20-%20akveo%20website%20-%20nebular%20landing%20-%20traffic&utm_source=nebular&utm_medium=referral&utm_content=logo" target="_blank"><img class="logo" src="https://i.goopics.net/1fao8t.png"></a>
    </div>
</div>